[WAGON-566] Add support for URI normalization

**[Steve Brown](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=stvricbrown@gmail.com)** opened **[WAGON-566](https://issues.apache.org/jira/browse/WAGON-566?redirect=false)** and commented

This is a simple fix for MSITE-738. I have set the priority as Major because that is the priority set for MSITE-738

Some Repository Managers, e.g. JFrog's Artifactory, do not allow puts to a URL with relative path elements ("." or "..").

Artifactory are addressing the issue for downloads from remote sites ([RTFACT-16457](https://www.jfrog.com/jira/browse/RTFACT-16457)).  Artifactory returns this error:

`"status" : 500,"`
`"Path element cannot end with a dot: sites/ ... redacted ... */../*"`

The fix is to amend 
`org.apache.maven.wagon.shared.http.EncodeUtils.encodeURL( String url )`
 to normalize the returned URI.

I will create a pull request.

 


---

**Affects:** 3.3.3

**Issue Links:**
- [WAGON-569](https://issues.apache.org/jira/browse/WAGON-569) Inconsistent encoding behavior for repository URLs with spaces
 (_**"depends upon"**_)

**Remote Links:**
- [GitHub PR #55
](https://github.com/apache/maven-wagon/pull/55)


**[Michael Osipov](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=michael-o)** commented

[Oleg Kalnichevski](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=olegk), I need your expertise here. I have read RFC 3986, section 6.2.2.3. As far as I understand that dot-segments may occur in an abslolute URI. What I don't understand from the spec: who has to resolve (normalize) the URI? Cllent prior sending or the server receiving it? So do we have to do this in Wagon?


**[Oleg Kalnichevski](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=olegk)** commented

[Michael Osipov](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=michael-o) What HttpClient _must_ do is to ensure that absolute URIs can be correctly split into their respective authority and path/query components. For that end HttpClient must ensure there are no consecutive "/" in the path component.  HttpClient also normalizes location URIs in case of a redirect but otherwise it makes no attempts  to eliminate dot-segments in absolute URIs. I suppose in this particular case may want to normalize request URIs to disambiguate it (for various reasons) but fundamentally this is a server-side concern in my opinion.

Oleg


**[Michael Osipov](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=michael-o)** commented

Thanks, so from your POV, this is not a client issue at all. The URI sent here is fully valid, e.g., `https://packages.cloud.google.com/yum/repos/kubernetes-el7-x86_64/../../pool/9ff2e28300e012e2b692e1d4445786f0bed0fd5c13ef650d61369097bfdd0519-kubectl-1.10.0-0.x86_64.rpm`.


**[Oleg Kalnichevski](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=olegk)** commented

[Michael Osipov](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=michael-o) For my point of view this is a server side issue.  WAGON may provide an option to normalize the URI but any reasonable web server should be able to non-normalized URIs as well. 


**[Michael Osipov](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=michael-o)** commented

Alright, this is exactly what I wanted to do. I am still thinking whether this would another system properly or could be set on a request basis. Version 4.5.9 sets normalizeUri by default. Won't this happily solve this issue? Or will a simple `URI#normalize()` do?


**[Oleg Kalnichevski](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=olegk)** commented

[Michael Osipov](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=michael-o) HttpClient by default normalizes consecutive "/" in the path component only and drops the fragment component if present. If you want full syntax normalization you should use ` URI#normalize()`.

Oleg


**[Michael Osipov](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=michael-o)** commented

[Oleg Kalnichevski](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=olegk), I will work on that. This won't be on by default.


**[Michael Osipov](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=michael-o)** commented

[Steve Brown](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=stvricbrown@gmail.com), are you willing to try a patch?


**[Steve Brown](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=stvricbrown@gmail.com)** commented

Yes, I'm willing to try a patch.


**[Michael Osipov](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=michael-o)** commented

[Steve Brown](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=stvricbrown@gmail.com), looking forward too.


**[Michael Osipov](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=michael-o)** commented

[Steve Brown](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=stvricbrown@gmail.com), do you still want to provide a PR?


**[Michael Osipov](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=michael-o)** commented

The upstream issue has been closed. Is this invalid/not needed now?


**[Michael Osipov](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=michael-o)** commented

No feedback received.
